<template>
  <div v-if="isOpen" id="app">
    <img :src="VueIcon" />
    {{text}}
    <button @click="callClient">click</button>
  </div>
</template>

<script>
import { emitClient } from './utils/fivem';
import VueIcon from './vendor/img/vue_icon.png';
import soundFile from './vendor/sound/mixkit-retro-game-notification-212.wav';

export default {
  data() {
    return {
      listener: () => {},
      text: 'Hello world',
      isOpen: true,
      VueIcon,
    };
  },
  methods: {
    callClient() {
      const sound = new Audio(soundFile);
      sound.play();
      emitClient('resource_name', 'callbackFromNui', text);
    },
    openUI() {
      this.isOpen = true;
    },
    closeUI() {
      this.isOpen = false;
    },
  },
  mounted() {
    this.listener = (event) => {
      const { action } = event.data;
      if (action === 'open') {
        // do something to open ui
        this.openUI();
      } else if (action === 'close') {
        this.closeUI();
      }
    }
    window.addEventListener('message', this.listener);
  },
  destroyed() {
    window.removeEventListener('message', this.listener);
  }
};
</script>
