@font-face {
  font-family: 'Sukhumvit-medium';
  src: url('vendor/font/SukhumvitSet-Medium.ttf');
}
html {
  overflow: hidden !important;
  background-color: transparent !important;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: 'Sukhumvit-medium';
}
